
.container{
    background-color: cadetblue;
    min-height: 100vh;
    text-align: center;
}

.loading-system{
    text-align: center;
    display: none;
    
}
#wait{
   position: relative;
    margin-top:-40px ;
    margin-left: 335px;
    display: flex;
    flex-direction: row;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
     
  
} 



