
/* .container{
    background-color: cadetblue;
    min-height: 100vh;
    text-align: center;
} */

.loading-control{
   
    text-align: center;
    display: none;
}
.dot-button{
    text-align: center;
}

.dot-button #wait{
    margin-top:-50px ;
    margin-left: 320px;
    display: flex;
    flex-direction: row;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    position: relative;
      
}

